!!! 5
html
  head
    title #edpain - Digital Harbor Foundation
    //if lte IE 8
      meta(http-equiv='refresh', content='1;oldBrowser.html')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    link(rel='alternate', type='application/rss+xml', title='#EdPain - Digital Harbor Foundation', href="http://edpain.digitalharborfoundation.org/rss.xml")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='csrf_token', content='#{csrf_token}')
    link(rel='stylesheet', type='text/css', href='http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css')
    link(rel='stylesheet', type='text/css', href='edpain.css')
    //if lte IE 9
      link(rel='stylesheet', type='text/css', href='edpain-ie.css')
    script(src='jquery.min.js')
    script(src='underscore-min.js')
    script(src='waypoints.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/socket.io/socket.io.js')
    script(src='edpain.js')
    != "<script type='template/underscore' id='painDisplayTemplate'>"
    li
      q <%-pain %>
      cite
        | <%-name %> — <%-role%> from
        span#zipTarget
          |  <%- cityState || zip %>
    != "</script>"
    != "<script type='template/underscore' id='painExtraTemplate'>"
      .painExtra
        button.twitter tweet it
        |  
        button.facebook facebook it
    != "</script>"
    script 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29755886-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    header
      span#preLogo  
      a(href='http://www.digitalharborfoundation.org')
        img.smallLogo(src='smallDHFLogo.svg', alt='Digital Harbor Foundation')
      span#postLogo project
      a(href='http://www.edtechlink.org/')
        #anchorLogo
          | We link learners to doers
    section#subHeader
      h1 #edpain
      p
        | identifying the 
        a(href='http://www.waywordradio.org/pain_point/', target='_blank') pain points
        |  of education
    section#description
      p
        | This wall is an open 
        a(href='http://creativecommons.org/licenses/by/3.0/', target='_blank') cc 3.0
        |  platform for teachers, students, admins, policy makers, parents, and technologists to constructively identify 
        a(href='http://www.waywordradio.org/pain_point/', target='_blank') pain points
        |  in education.
    section#painEntry
      p
        | I'm a
        span.pluralRole n
        input.role(type='text', placeholder='teacher, student, parent, etc.', maxlength="30")
        | and I have an 
        a(href='https://twitter.com/#!/search/%23edpain', target='_blank') #edpain
        | :
      p.description
        textarea(maxlength='300')
      p.identifiers
        | My name is
        input.name(type='text', maxlength="50")
        | from
        input.zip(type='text', placeholder='zip code', maxlength="5")
        |  .
      button.post post your edpain
    section#postPainEntry
      p Thank you for sharing your #edpain.
      button.back Have another edpain?
    section#pains
      h2 edpains
      ul
    footer
      p Loading more edpains...
      button Load more edpains