!!! 5
html
  head
    title Twitter card - #edpain - Digital Harbor Foundation
    meta(name='twitter:card',content="summary")
    meta(name='twitter:site',content="@DHFBaltimore")
    meta(name='twitter:creator',content="@kevintame")
    meta(name='twitter:url',content="http://edpain.digitalharborfoundation.org/?id=5013ee95d9e0b30200000018")
    meta(name='twitter:title',content="I'm a Educator from Bowie, MD and I have an #edpain:")
    meta(name='twitter:description',content='Useful websites are blocked by school district. Teacher are not given autonomy to approve sites for their own class. Solution - decentralize website blocking and allow principals decide which...')
  body
    p
      | Think this will cause conversation Twitter-gods?